<h1>Welcome to On The Go</h1>	

<a href="https://bitly.com/oauth/authorize?client_id=6f4c7cb2694215156619c765d892ca62f56ea25b&redirect_uri=http://on-the-go.herokuapp.com/oauth">click here to authorize using your bitly account</a>

<div><br><%= link_to "Signout", destroy_user_session_path, { :method => :delete} %></br></div>