<h1>Results</h1>

<% @histories.each do |history| %>
<h2><%= history.title %></h2>
<p><%= link_to history.site %></p>
<p><%= link_to history.url %></p>
<p><% qr = RQRCode::QRCode.new( history.url, :size => 17, :level => :h ) %></p>

<style type="text/css">
table {
	border-width: 0;
	border-style: none;
	border-color: #0000ff;
	border-collapse: collapse;
}
td {
	border-width: 0;
	border-style: none;
	border-color: #0000ff;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 5px;
	height: 5px;
}
td.black { background-color: #000; }
td.white { background-color: #fff; }
</style>

<table>
	<% qr.modules.each_index do |x| %>
	<tr>
		<% qr.modules.each_index do |y| %>
		<% if qr.dark?(x,y) %>
		<td class="black"/>
		<% else %>
		<td class="white"/>
		<% end %>
		<% end %>
	</tr>
	<% end %>
</table>
<%end%>

<div><br><%= link_to "Signout", destroy_user_session_path, { :method => :delete} %></br></div>