<!DOCTYPE html>
<html>
<head>
  <title>OnTheGo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<nav>
		<a href="/">History</a> |
		<a href="/searches/new/">New Search</a>
	</nav>
<%= yield %>
</div>
</body>
</html>
